In [10]:
import pandas as pd
import numpy as np

In [31]:
cities = pd.read_csv("weather_df.csv")
cities.drop(columns="Unnamed: 0")

,City,Cloudiness,Country,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,mahebourg,40,MU,77,-20.41,57.70,69.80,6.93
1,poum,0,NC,57,-20.23,164.02,70.48,12.24
2,provideniya,90,RU,76,64.38,-173.30,55.40,4.47
3,albany,100,US,80,42.60,-73.97,70.00,10.89
4,ushuaia,0,AR,74,-54.80,-68.30,28.40,4.70
...,...,...,...,...,...,...,...,...
560,hurricane,1,US,11,37.18,-113.29,100.40,10.29
561,progreso,40,MX,65,21.28,-89.67,84.00,5.82
562,bristol,1,US,82,41.83,-71.17,64.00,4.43
563,havoysund,100,NO,82,71.00,24.66,55.40,4.70
564,luderitz,0,NaN,13,-26.65,15.16,77.00,24.16

In [37]:
html = cities.to_html(buf=None, columns=None, header=True, index=False, na_rep='NaN', formatters=None, float_format=None, sparsify=None, index_names=True, justify=None, bold_rows=True, classes=None, escape=True, max_rows=None, max_cols=None, show_dimensions=False, notebook=False)

In [38]:


#write html to file
text_file = open("table-output.html", "w")
text_file.write(html)
text_file.close()